<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title></title>
</head>
<body>
<a th:href="@{/intoAdd}">添加</a>
<table>
    <thead>
    <tr>
        <th>id</th>
        <th>用户名</th>
        <th>密码</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${list}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.password}"></td>
        <td><a th:href="@{/delete(id=${user.id})}">删除</a> &hearts;
            <a th:href="@{/intoUpdate(id=${user.id})}">修改</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>